#app {
    margin-bottom: 0;
}

#lg {
    position: fixed;
    background-image: url(bg.png);
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 640px;
    margin: auto;
}

    #lg .lg_title {
        color: #fff;
        font-size: 2em;
        margin: 51px 0;
    }

    #lg .lgContainer {
        margin-top: -40%;
    }

    #lg .imgLogo {
        width: 200px;
        height: auto;
        margin: auto;
        opacity: 0.5;
    }

    #lg .frmGroup {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        #lg .frmGroup i {
            color: #fff;
            opacity: 0.5;
            margin-right: 15px;
        }

        #lg .frmGroup input {
            background: transparent;
            border: none;
            padding: 7px;
            border-bottom: 1px solid #3e464d;
            margin: 10px;
            color: #fff;
            width: 190px;
        }

    #lg .btnLogin {
        color: #fff;
        border: 1px solid #8d89a2;
        padding: 10px;
        border-radius: 30px;
        margin: 15px auto 0;
        display: block;
        width: 99px;
    }

    #lg .lg_SocialGr a {
        margin: 0 10px;
    }

    #lg .lg_SocialGr img {
        width: 25px;
        height: auto;
    }

    #lg .lg_Note {
        color: #ccc;
        display: block;
        text-align: center;
        margin: 50px 0 10px;
    }

    #lg .lg_avatar {
        width: auto;
        border-radius: 100px;
        border: 1px solid #4d8ac5;
        margin-bottom: 35px;
    }

    #lg .mainContainer {
        padding: 0 10px;
    }

    #lg .lg_msg, #lg .lg_msg strong {
        font-size: 1.2em;
        line-height: 1.5em;
        color: #fff;
    }

    #lg .lg_msg_smaller {
        margin-top: 15px;
        color: #d4d4d4;
    }
