#app {
    margin-bottom: 0;
}

#lg {
    background-image: url(bglogin.jpg);
    display: block;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lg .lgContainer{
    margin-top: -40%;
}

#lg .imgLogo {
    width: 200px;
    height: auto;
    margin: auto;
    opacity: 0.5;
}

#lg .frmGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lg .frmGroup i {
    color: #fff;
    opacity: 0.5;
    margin-right: 15px;
}

#lg .frmGroup input {
    background: transparent;
    border: none;
    padding: 7px;
    border-bottom: 1px solid #3e464d;
    margin: 10px;
    color: #fff;
    width: 190px;
}

#lg .btnLogin {
    color: #fff;
    border: 1px solid #8d89a2;
    padding: 10px;
    border-radius: 30px;
    margin: 15px auto 0;
    display: block;
    width: 99px;
}