#app {
    margin-bottom: 0;
}

#lg {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 640px;
    margin: auto;
}

    #lg .lg_title {
        color: #fff;
        font-size: 2em;
        margin: 51px 0;
    }

    #lg .lgContainer {
    }

    #lg .imgLogo {
        width: 200px;
        height: auto;
        margin: auto;
    }

    #lg .frmGroup {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column
    }

        #lg .frmGroup i {
            color: #fff;
            opacity: 0.5;
            margin-right: 15px;
        }

        #lg .frmGroup input {
            background: transparent;
            border: none;
            padding: 7px;
            border: 1px solid #11bbb5;
            border-radius: 50px;
            margin: 10px;
            width: calc(100% - 20px);
        }

    #lg .btnLogin {
        color: #fff;
        padding: 10px;
        border-radius: 30px;
        margin: 15px auto 0;
        display: block;
        width: 99px;
        background: rgba(41,217,144,1);
        background: -moz-linear-gradient(-45deg, rgba(41,217,144,1) 0%, rgba(10,197,184,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(41,217,144,1)), color-stop(100%, rgba(10,197,184,1)));
        background: -webkit-linear-gradient(-45deg, rgba(41,217,144,1) 0%, rgba(10,197,184,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(41,217,144,1) 0%, rgba(10,197,184,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(41,217,144,1) 0%, rgba(10,197,184,1) 100%);
        background: linear-gradient(135deg, rgba(41,217,144,1) 0%, rgba(10,197,184,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29d990', endColorstr='#0ac5b8', GradientType=1 );
        border: none;
        cursor: pointer;
    }

    #lg .lg_SocialGr a {
        margin: 0 10px;
    }

    #lg .lg_SocialGr img {
        width: 25px;
        height: auto;
    }

    #lg .lg_Note {
        color: #333;
        font-size: 1.2em;
        display: block;
        text-align: center;
        margin: 15px 0 10px;
    }

    #lg .lg_avatar {
        width: auto;
        border-radius: 100px;
        border: 1px solid #4d8ac5;
        margin-bottom: 35px;
    }

    #lg .mainContainer {
        padding: 0 10px;
    }

    #lg .lg_msg, #lg .lg_msg strong {
        font-size: 1.2em;
        line-height: 1.5em;
        color: #fff;
    }

    #lg .lg_msg_smaller {
        margin-top: 15px;
        color: #d4d4d4;
    }

    #lg .txtVerify {
        border: none;
        margin-left: 10px;
        background-color: transparent;
        color: #333;
        border-bottom: 1px solid #11bbb5;
        display: inline-block;
        width: 50px;
        text-align: center;
        padding: 5px 0;
        font-size: 2em;
    }

    #lg .frmGroup input.txtError {
        border: 1px solid red;
    }