* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

    *:focus {
        outline: none;
    }

input:-internal-autofill-selected {
    background-color: #000 !important;
}


a {
    color: #262f50;
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: #f2f2f2;
    max-width: 640px;
    margin: auto;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-bottom: 70px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 70px !important;
    min-height: 498px;
}

.month-picker__year {
    height: 45px;
    background: #fff;
}

    .month-picker__year p {
        padding-top: 14px;
    }

.titleE {
    background: rgba(41,217,144,1);
    background: -moz-linear-gradient(-45deg, rgba(41,217,144,1) 0%, rgba(10,197,184,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(41,217,144,1)), color-stop(100%, rgba(10,197,184,1)));
    background: -webkit-linear-gradient(-45deg, rgba(41,217,144,1) 0%, rgba(10,197,184,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(41,217,144,1) 0%, rgba(10,197,184,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(41,217,144,1) 0%, rgba(10,197,184,1) 100%);
    background: linear-gradient(135deg, rgba(41,217,144,1) 0%, rgba(10,197,184,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29d990', endColorstr='#0ac5b8', GradientType=1 );
    color: #fff;
    padding: 20px 0;
    font-size: 1.5em;
    position: relative;
}

    .titleE > i {
        cursor: pointer;
    }

.getAppBanner {
    max-width: 620px;
    margin: 25px auto 10px;
    position: relative;
}