* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

*:focus {
    outline: none;
}

input:-internal-autofill-selected {
    background-color: #000 !important;
}


/*Change text in autofill textbox*/
a {
    color: #262f50;
    text-decoration: none;
}

body {
    background-color: #e4e4e4;
    max-width: 640px;
    margin: auto;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-bottom: 70px;
}

.month-picker__year {
    height: 45px;
    background: #fff;
}

.month-picker__year p {
    padding-top: 14px;
}
.titleE {
    background: rgba(3,151,137,1);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(3,151,137,1)), color-stop(100%, rgba(0,163,144,1)));
    background: -webkit-gradient(linear, left top, right top, from(rgba(3,151,137,1)), to(rgba(0,163,144,1)));
    background: linear-gradient(to right, rgba(3,151,137,1) 0%, rgba(0,163,144,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#039789', endColorstr='#00a390', GradientType=1 );
    color: #fff;
    padding: 20px 0;
    font-size: 1.5em;
    position: relative;
}