* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

*:focus {
    outline: none;
}
input:-internal-autofill-selected  {
    background-color: #000 !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
}
a {
    color: #262f50;
    text-decoration: none;
}

body {
    background-color: #f8f8f8;
    max-width: 640px;
    margin: auto;
    /* background-image: url('../img/bgBanner.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-bottom: 70px;
}

.month-picker__year {
    height: 45px;
    background: #fff;
}

.month-picker__year p {
    padding-top: 14px;
}